ul {margin:0;
	padding:0;
	width:100%;
	list-style:none;
	position:absolute;
	top:50px;
	background-color:#404040;
	}
	
li {float:left;
	border-right:1px solid black
	}
	
			
li a{display:block;
	padding:16px 16px;
	text-align:center;
}

li a:link {color:none;
		  text-decoration:none;}

li a:visited {color:white;}

li a:hover:not(.active) {
    background-color: #99ccff;
    color: white;
}

li a.active {background-color:#4CAF50;
			color:white;}
			
Header {
		position:relative;
		top:0;
		right:0;
		height:15%;
		width:100%;
		}
		
Footer {background-color:#4d0000;
		position:fixed;
		bottom:0;
		left:0;
		height:5%;
		width:100%;
		text-align:center;}
		
#body {
	   color:#595959;  	
	   }
	 
.container {background-color:#e6e6e6;
			color:#999999;
			width:100%;
}